@CHARSET "UTF-8";

/* 중앙 프레임 공통  */

body{	
	background-color:#fcfcfc;
}	

























/* 

#main_container .location_bar {
	margin-top:20px;
	margin-left:100px;
    max-width: 1150px;
    height: 60px;
}
#main_container .location_bar ul {
    border-bottom: 1px solid #e6e6e6;
}
#main_container .location_bar ul li {
    display: inline-block;
    color: #888;
    font-size: 13px;
    line-height: 60px;
}
#main_container .location_bar ul li.divider {
    margin: 0 5px;
}


#main_container > .inner {
    padding-top: 20px;

}
#main_container > .inner .title1 {
    margin-bottom: 40px;
}
#main_container > .inner .title1 h2 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    margin-bottom: 15px;
    width: 30px;
}
#main_container > .inner p {
    font-size: 12px;
    color: #888;
    line-height: 1.6;
}
#main_container > .inner .title2{
    font-size: 18px;
    font-weight: 600px;
    color: #444;
    line-height: 1.2;
    margin-bottom: 20px;
}
 */



























