<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "memberMapper">

	<insert id = "memberInsert">
		insert into member (category, id, pw, name, nickname, email, phone, intro, pic ) values ('A', #{id}, #{pw}, #{name}, #{nickname}, #{email}, #{phone}, #{intro}, #{pic})
	</insert>
	
	<select id = "memberLogin"  resultType="java.util.Map">
		select * from member where id = #{Username} and pw = #{Password}
	</select>
     
	<select id = "memberView"  resultType="java.util.Map">
		select * from member where id = #{id}
	</select>
	
  	<update id= "memberUpdate" >
    	update member set name=#{name}, nickname=#{nickname}, email=#{email}, phone=#{phone}, intro=#{intro}, pic=#{pic} where id=#{id}
    </update>
    
    <delete id= "memberDelete">
    	delete from member where id=#{id}
    </delete>
    
    <select id = "memberList"  resultType="com.mogaco.vo.MemberVO">
		select * from member order by num desc
	</select>
</mapper>

