<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "noticeMapper">

	<insert id = "noticeInsert">
		insert into notice (id, title, contents, date, picture) values (#{id},#{title},#{contents},#{date},#{picture})
	</insert>

	<select id = "noticeSelectList"  resultType="com.mogaco.vo.NoticeVO">
		select * from notice order by num desc
	</select>
     
	<select id = "noticeSelectView"  resultType="java.util.Map">
		select * from notice where num = #{num}
	</select>
     
  	<update id= "noticeUpdate" >
    	update notice set id=#{id}, title=#{title}, contents=#{contents}, date=#{date}, picture=#{picture} where num = #{num}
    </update>
    
    <delete id= "noticeDelete">
    	delete from notice where num=#{num}
    </delete>

</mapper>